{% load static %}

<ul class="menu clearfix">
  <li class="menu-list"><a href="{% url 'main' %}" class="menu-link {% if request.resolver_match.url_name == 'main' %}menu-link-aktive{% endif %}">HOME</a></li>
  <li class="menu-list"><a href="{% url 'products' %}" class="menu-link {% if request.resolver_match.url_name == 'products' %}menu-link-aktive{% endif %}">PRODUCTS</a></li>
  <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
  <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
  <li class="menu-list"><a href="{% url 'contact' %}" class="menu-link {% if request.resolver_match.url_name == 'contact' %}menu-link-aktive{% endif %}">CONTACT</a></li>
  <li class="menu-list"><a href="#"><img src="{% static 'img/search.svg' %}" alt=""></a></li>
</ul>
