{% extends 'mainapp/base.html' %}
{% load static %}

{% block header %}
    <header class="clearfix padding-site">
      <a href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
      {% include 'mainapp/include_menu.html' %}
    </header>
{% endblock header %}

{% block content %}
    <div class="product-menu clearfix">
      <ul class="products-menu clearfix">
        <li class="product-menu-list"><a href="#" class="product-menu-link product-menu-link-activ">All</a></li>
        <li class="product-menu-list"><a href="#" class="product-menu-link">HOME</a></li>
        <li class="product-menu-list"><a href="#" class="product-menu-link">OFFICE</a></li>
        <li class="product-menu-list"><a href="#" class="product-menu-link">FURNITURE</a></li>
        <li class="product-menu-list"><a href="#" class="product-menu-link">MODERN</a></li>
        <li class="product-menu-list"><a href="#" class="product-menu-link">CLASSIC</a></li>
      </ul>
    </div>
    <div class="product-content padding-site clearfix">
      <div class="product-photo clearfix">
        <img src="{% static 'img/slider1.png' %}" alt="slider1">
        <ul class="mini-product-photo">
          <li class="product-photo-mini"><img src="{% static 'img/controll.png' %}" alt="controll"></li>
          <li class="product-photo-mini"><img src="{% static 'img/controll11.png' %}" alt="controll11"></li>
          <li class="product-photo-mini"><img src="{% static 'img/controll2.png' %}" alt="controll2"></li>
        </ul>
      </div>
      <div class="product-desc clearfix">
        <div class="product-header-desc">
          <p class="product-desc-header">Fishnet Chair</p>
          <p class="hot">Hot Deal</p>
          <p class="price">$ 36.7/sq</p>
        </div>
        <a href="#" class="product-button">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow" class="button-arrow"></a>
        <p class="product-description">
          The majesty of&nbsp;Mountains&nbsp;&mdash; Ugmonk style.</p>
          <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
          do&nbsp;eiusmod tempor incididunt ut&nbsp;labore</p>
          <p class="product-description">et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip
          ex&nbsp;ea&nbsp;commodo consequat.</p>
          <p class="product-description">Duis aute irure dolor in&nbsp;reprehenderit in&nbsp;voluptate velit
          esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident.
        </p>
      </div>
    </div>
    <p class="trending-products padding-site">Related Products</p>
    <a href="#" class="trending-products-explore-all">explore all <img src="{% static 'img/arrow.png' %}" alt="arrow" height="12px"></a>
    <div class="tranding-products-img clearfix padding-site">

        {% for product in products.2 %}
            {% if forloop.counter <= 3 %}
              <div class="{{ product.class_list }}">
                <img src="{% static 'img/' %}{{ product.src }}" alt="">
              </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock content %}
