{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>

<body>
  <div class="container">

    {% block header %}

    {% endblock header %}

    {% block content %}

    {% endblock content %}

    <footer class="padding-site">
        <div class="top-footer-content clearfix">
          <div class="contact-us clearfix">
            <h4 class="footer-h4">Contact Us</h4>
            <p class="footer-contact-p">132A Bridge Road Richmond VIC
              Australia.</p>
            <p class="footer-contact-p">Talk to us on 1300 132
              info@interior.com</p>
          </div>
          <div class="useful-information clearfix">
            <h4 class="footer-information-h4">Useful Information</h4>
            <div class="footer-a-first">
              <a href="#" class="footer-a-block">Sales terms</a>
              <a href="#" class="footer-a-block">Customer care</a>
              <a href="#" class="footer-a-block">Delivery</a>
            </div>
            <div class="footer-a-second clearfix">
              <a href="#" class="footer-a-block">Architect accounts</a>
              <a href="#" class="footer-a-block">Careers</a>
              <a href="#" class="footer-a-block">Exchanges & returns</a>
            </div>
          </div>
          <div class="stay-in-touch clearfix">
            <h4 class="footer-stay-h4 clearfix">Let’s Stay in Touch!</h4>
            <p class="footer-stay-p clearfix">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
            <form class="clearfix">
              <div class="mail">
                <input type="email" name="q" placeholder="your email address">
                <input type="submit" value="">
              </div>
            </form>
          </div>
        </div>
        <div class="bottom-footer-content clearfix">
          <a href="#" class="text-bottom-footer clearfix" id="first-text-footer-content">© Copyright - INTERIOR {% now 'Y' %}. All Rights Reserved.</a>
          <div class="social-icon-div"><a href="#" class="social-icon"><span class="icon-facebook-with-circle"></span></a>
            <a href="#" class="social-icon"><span class="icon-twitter-with-circle"></span></a>
            <a href="#" class="social-icon"><span class="icon-google-with-circle"></span></a>
            <a href="#" class="social-icon"><span class="icon-pinterest-with-circle"></span></a></div>
          <a href="#" class="text-bottom-footer clearfix" id="second-text-footer-content">Terms & Conditions / Privacy policy & Cookies</a>
        </div>
      </footer>
    </div>
  </body>

  </html>
