* {
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
}

@font-face {
  font-family: 'Gotham';
  src: local('Gotham Light'), local('Gotham-Light'),
    url('/static/fonts/Gotham-Light.woff2') format('woff2'),
    url('/static/fonts/Gotham-Light.woff') format('woff'),
    url('/static/fonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('/static/fonts/icomoon.eot?luifnp');
  src: url('/static/fonts/icomoon.eot?luifnp#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?luifnp') format('truetype'),
    url('/static/fonts/icomoon.woff?luifnp') format('woff'),
    url('/static/fonts/icomoon.svg?luifnp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga"1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest-with-circle:before {
  content: "\e900";
}

.icon-google-with-circle:before {
  content: "\e901";
}

.icon-twitter-with-circle:before {
  content: "\e902";
}

.icon-facebook-with-circle:before {
  content: "\e903";
}

.icon-location:before {
  content: "\e947";
}

.icon-loop2:before {
  content: "\ea2e";
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.padding-site {
  padding-left: 98px;
  padding-right: 98px;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.slider {
  height: 800px;
  background-image: url(/static/img/slider-img.jpg);
  position: relative;
}

header {
  padding-top: 63px;
}

.header {
  position: relative;
  height: 360px;
  background-color: #f5f5f5;
}

.header-title {
  position: absolute;
  bottom: 56px;
  left: 101px;
  color: #212121;
  font-size: 62px;
  font-weight: 300;
}

.menu {
  float: right;
}

.menu-list {
  list-style-type: none;
  float: left;
}

.menu-link {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 13px;
  font-family: Arial, "Arial - Bold MT";
}

.menu-link:hover {
  color: #212121;
}

.menu-link-aktive {
  color: #212121;
  font-weight: 700;
  letter-spacing: 1.4px;
  border-bottom: 3px solid #212121;
}

.slider-text {
  margin-top: 283px;
}

.slider-trending {
  color: #43a047;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-h2 {
  color: #212121;
  font-size: 62px;
  font-weight: 150;
  text-transform: uppercase;
}

.slider-content {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  width: 458px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 24px;
}

.button {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  width: 212px;
  height: 45px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background-color: #ffffff;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.button:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.55)
}

.pagination {
  position: absolute;
  width: 1170px;
  bottom: 19px;
  text-align: center;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 50%;
  margin: 5px;
}

.circle-aktive {
  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: 0;
}

.circle:hover {
  background-color: #212121;
}

.classes {
  float: left;
  display: inline-block;
  width: 1170px;
  height: 66px;
  margin-top: 100px;
}

.classes-menu-list {
  list-style-type: none;
  float: left;
}

.classes-menu-link {
  color: #6c6c6c;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  width: 80px;
  height: 27px;
  padding-bottom: 21px;
  padding-right: 20px;
  padding-left: 10px;
  border-bottom: 1px solid #6c6c6c;
}

.classes-menu-link:hover {
  color: #212121;
}

.classes-menu-link-aktive {
  color: #212121;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  width: 158px;
  height: 27px;
  border-bottom: 2px solid #212121;
}

.explore-all {
  float: right;
  margin-top: -17px;
  text-decoration: none;
  width: 158px;
  height: 13px;
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.explore-all:hover {
  color: #212121;
  cursor: pointer
}

.product-small {
  margin-top: 50px;
  margin-bottom: 120px;
  float: left;
  width: 270px;
  height: 270px;
  outline: 1px solid #d7d7d7;
}

.product-small-margin {
  margin-left: 30px;
}

#product-1 {
  background-image: url(/static/img/product-1.jpg);
}

#product-1:hover .hover-product-link {
  display: block;
}

#product-2 {
  background-image: url(/static/img/product-2.jpg);
}

#product-2:hover .hover-product-link {
  display: block;
}

#product-3 {
  background-image: url(/static/img/product-3.jpg);
}

#product-3:hover .hover-product-link {
  display: block;
}

#product-4 {
  background-image: url(/static/img/product-4.jpg);
}

#product-4:hover .hover-product-link {
  display: block;
}

.hover-product-content {
  position: relative;
  width: 270px;
  height: 270px;
  background-image: url(/static/img/back-product-hover.jpg);
  opacity: 0.7;
}

.hover-product-link {
  display: none;
  text-decoration: none;
}

.go-product {
  position: absolute;
  margin-top: 62px;
  margin-bottom: 160px;
  margin-left: 111px;
  margin-right: 111px;
}

.arrow-go-product {
  width: 12px;
  height: 20px;
  position: absolute;
  margin-top: 78px;
  margin-bottom: 174px;
  margin-left: 133px;
  margin-right: 129px;
}

.h3-product-small {
  width: 145px;
  height: 17px;
  position: absolute;
  margin-top: 129px;
  margin-left: 62.5px;
  color: #212121;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 29.88px;
}

.product-discription {
  position: absolute;
  margin-top: 169px;
  margin-left: 32px;
  text-align: center;
  width: 206px;
  height: 33px;
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 11.5px;
  font-weight: 300;
  line-height: 21.91px;
}

.exclusive-products {
  width: 100%;
  height: 683px;
  margin-top: 609px;
  margin-bottom: 119px;
}

.catalog-exclusive-products {
  width: 100%;
  height: 683px;
}

.exclusive-product-1 {
  width: 683px;
  height: 683px;
  background-image: url(/static/img/promo-img1.jpg);
  display: inline-block;
  float: left;
}

.exclusive-product-2 {
  width: 683px;
  height: 683px;
  background-image: url(/static/img/promo-img.jpg);
  display: inline-block;
  float: left;
}

.exclusive-content-block {
  margin-left: 50px;
}

.exclusive-trending {
  color: #1e88e5;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-top: 228px;
}

.exclusive-h2 {
  color: #212121;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  margin-top: 15px;
}

.exclusive-content {
  width: 374px;
  height: 36px;
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.04px;
  margin-top: 10px;
  margin-bottom: 34px;
}

.trending-products {
  width: 331px;
  height: 35px;
  color: #212121;
  font-size: 32px;
  font-weight: 700;
}

.trending-products-explore-all {
  float: right;
  margin-top: -25px;
  margin-right: 98px;
  text-decoration: none;
  width: 158px;
  height: 13px;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.trending-products-explore-all:hover {
  color: #212121;
  cursor: pointer
}

.tranding-products-img {
  margin-top: 64px;
  margin-bottom: 120px;
}

.tranding-products {
  width: 370px;
  height: 370px;
  float: left;
}

.tranding-products:hover {
  outline: 1px solid #212121;
}

.trending-product-margin-left {
  margin-left: 30px;
}

.trending-product-margin-top {
  margin-top: 30px;
}

.bottom-slider {
  position: relative;
  width: 1366px;
  height: 800px;
  background-image: url(/static/img/slider.jpg);
  margin-bottom: 120px;
}

.bottom-slider-content-div {
  padding-top: 10px;
}

#bottom-slider {
  color: #e53935;
}

.exclusive-bottom {
  width: 1170px;
  height: 570px;
  margin-bottom: 120px;
}

.exclusive-bottom-product {
  float: left;
  width: 570px;
  height: 570px;
  background-image: url(/static/img/product-1-lg.jpg);
}

.exclusive-bottom-product:hover {
  outline: 1px solid #212121;
}

.exclusive-bottom-product-mini {
  width: 270px;
  height: 270px;
  margin-left: 30px;
  float: left;
}

.exclusive-bottom-product-mini:hover {
  outline: 1px solid #212121;
}

.exclusive-bottom-content {
  width: 332px;
  height: 36px;
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.04px;
  margin-top: 10px;
  margin-bottom: 34px;
}

.mobile-app {
  width: 1366px;
  height: 516px;
  background-image: url(/static/img/back-img.jpg);
}

.mobile-app-content-div {
  position: absolute;
  width: 407px;
  height: 272px;
  margin-top: 124px;
  margin-bottom: 120px;
}

#mobile-app-tranding {
  color: #6c6c6c;
}

.mobile-app-h2 {
  width: 407px;
  height: 116px;
  color: #212121;
  font-size: 38px;
  font-weight: 200;
  line-height: 52px;
  text-transform: uppercase;
}

.mobile-app-content {
  width: 413px;
  height: 21px;
  color: #6c6c6c;
  font-size: 21px;
  font-weight: 300;
  line-height: 24px;
}

.app {
  margin-top: 33px;
}

#google {
  margin-left: 10px;
}

footer {
  width: 1170px;
  height: 384px;
  background-color: #f7f7f7;
}

.top-footer-content {
  width: 1366px;
  height: 268px;
  float: left;
}

.contact-us {
  margin-top: 120px;
  float: left;
  width: 214px;
  height: 147px;
}

.useful-information {
  margin-top: 120px;
  margin-left: 80px;
  float: left;
  width: 435px;
  height: 101px;
}

.stay-in-touch {
  margin-top: 120px;
  margin-left: 78px;
  float: left;
  width: 361px;
  height: 147px;
}

.footer-h4 {
  width: 132px;
  height: 13px;
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.footer-contact-p {
  float: left;
  width: 221px;
  height: 70px;
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.footer-information-h4 {
  width: 237px;
  height: 13px;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.footer-a-first {
  margin-top: 25px;
  text-decoration: none;
  float: left;
  width: 132px;
  height: 62px;
}

.footer-a-second {
  margin-top: 25px;
  float: left;
  margin-left: 90px;
  width: 187px;
  height: 63px;
}

.footer-a-block {
  text-decoration: none;
  color: #212121;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-stay-h4 {
  width: 230px;
  height: 13px;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.footer-stay-p {
  width: 365px;
  margin-top: 24px;
  height: 36px;
  color: #212121;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.mail {
  margin-top: 26px;
  width: 370px;
  border: 1px solid #d9dee1;
  height: 48px;
}

input[type="email"] {
  margin-left: 19px;
  margin-top: 12px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  -webkit-appearance: none;
  /* Убираем рамку в Chrome и Safari */
  width: 150px;
  vertical-align: middle;
  /* Выравнивание по середине */
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

input[type="submit"] {
  float: right;
  margin-right: 14px;
  margin-top: 16px;
  width: 21px;
  height: 17px;
  border: none;
  background: url(/static/img/submit.png) no-repeat 50% 50%;
}

.bottom-footer-content {
  position: relative;
  width: 1170px;
  float: left;
  margin-top: 70px;
}

.text-bottom-footer {
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

#first-text-footer-content {
  width: 362px;
  height: 9px;
  float: left;
}

#second-text-footer-content {
  width: 350px;
  height: 12px;
  float: right;
}

.social-icon-div {
  position: absolute;
  bottom: -5px;
  left: 500px;
}

.social-icon {
  text-decoration: none;
  font-size: 28px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
  color: #6c6c6c;
}

.social-icon:hover {
  color: #212121;
}

.contact {
  width: 370px;
  height: 370px;
  text-align: center;
  outline: 1px solid #9c9c9c;
  float: left;
  margin-right: 30px;
  margin-top: 71px;
  margin-bottom: 122px;
  padding-top: 48px;
}

.contact:hover, .contact-last:hover {
  outline: none;
}

.contact-last {
  width: 370px;
  height: 370px;
  text-align: center;
  outline: 1px solid #9c9c9c;
  float: left;
  margin-right: 0px;
  margin-top: 71px;
  margin-bottom: 122px;
  padding-top: 48px;
}

.location {
  font-size: 48px;
  color: #212121;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-header {
  font-family: Montserrat;
  margin-top: 34px;
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  line-height: 29.88px;
  text-transform: uppercase;
}

.contact-content {
  margin-top: 23px;
}

.phone, .email, .address {
  font-family: Montserrat;
  color: #6c6c6c;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.phone-content, .email-content {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  font-weight: 700;
}

.address-content {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #6c6c6c;
}

.reload {
  text-align: center;
  margin-top: 71px;
  margin-bottom: 140px;
}

.reload-link {
  color: #212121;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-menu.div {
  margin-bottom: 60px;
}

.catalog-menu {
  margin-top: 71px;
}

.catalog-menu-li {
  list-style-type: none;
  float: left;
  padding-bottom: 17px;
  padding-right: 13px;
  border-bottom: 1px solid #212121;
}

.catalog-menu-link {
  text-decoration: none;
  color: #6c6c6c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.catalog-menu-link:hover {
  color: #212121;
}

.catalog-menu-li-activ {
  color: #212121;
  padding-bottom: 15px;
  border-bottom: 3px solid #212121;
}

.catalog-menu-link-activ {
  color: #212121;
}

.product-menu {
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 72px;
}

.products-menu {
  list-style-type: none;
  margin-left: 360px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.product-menu-list {
  float: left;
  padding-right: 13px;
}

.product-menu-link {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.product-menu-link:hover {
  color: #212121;
}

.product-menu-link-activ {
  color: #212121;
}

.product-content {
  margin-bottom: 245px;
}

.product-photo {
  float: left;
  width: 60%;
}

.product-desc {
  float: left;
  width: 40%;
}

.product-header-desc {
  text-align: center;
}

.product-desc-header {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
}

.hot {
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  line-height: 48.02px;
  text-transform: uppercase;
}

.price {
  color: #212121;
  font-family: Gotham;
  font-size: 56px;
  font-weight: 700;
  font-family: Gotham;
  line-height: 48.02px;
  text-transform: uppercase;
  margin-top: 10px;
}

.product-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 510px;
  height: 71px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 35px;
  background-color: #f44336;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24.01px;
  text-transform: uppercase;
  padding-top: 25px;
  box-sizing: border-box;
  margin-bottom: 49px;
  margin-top: 31px;
  position: relative;
}

.product-button:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.65)
}

.button-arrow {
  position: absolute;
  right: 161px;
}

.product-description {
  color: #212121;
  font-family: Gotham;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.01px;
  letter-spacing: 0.4px;
  margin-top: 12px;
}

.mini-product-photo {
  margin-left: 150px;
}

.product-photo-mini {
  float: left;
  list-style-type: none;
  margin-right: 10px;
}

.product-photo-mini:hover {
  outline: 1px solid #212121;
}
