{% extends 'mainapp/base.html' %}
{% load static %}

    {% block header %}
    <div class="slider padding-site">
      <header class="clearfix">
        <a href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
        {% include 'mainapp/includes/include_menu.html' %}
      </header>
      <div class="slider-text">
        <p class="slider-trending">TRENDING</p>
        <h2 class="slider-h2">Fishnet Chair</h2>
        <p class="slider-content">Seat and back with upholstery made of cold cure
          foam. Steel frame, available in matt powder-coated black</p>
        <a href="" class="button">Order Us <img src="{% static 'img/arrow.png' %}" alt="arrow" style="width: 9px; height: 12px;"></a>
      </div>
      <div class="pagination">
        <a href="" class="circle"></a><a href="" class="circle circle-aktive"></a><a href="" class="circle"></a>
      </div>
    </div>
    {% endblock header %}

    {% block content %}
    <div class="mini-catalog padding-site">
      <div class="classes clearfix">
        <ul class="clearfix">
          <li class="classes-menu-list clearfix"><a href="#" class="classes-menu-link classes-menu-link-aktive">Featured</a></li>
          <li class="classes-menu-list clearfix"><a href="#" class="classes-menu-link">New</a></li>
        </ul>
        <a href="#" class="explore-all">explore all <img src="{% static 'img/arrow.png' %}" alt="arrow" height="12px"></a>
      </div>

{% for product in products.0 %}
      <div class="{{ product.class_list }}" id="{{ product.id }}">
        <a href="{{ product.a_href }}" class="{{ product.a_class }}">{% include 'mainapp/product_hover.html' %}</a>
      </div>
{% endfor %}

    </div>
    <div class="exclusive-products clearfix">
      <div class="exclusive-product-1 clearfix">
        <div class="exclusive-content-block">
          <p class="exclusive-trending">exclusive</p>
          <h2 class="exclusive-h2">Fishnet Chair</h2>
          <p class="exclusive-content">Seat and back with upholstery made of cold cure foam.
            Steel frame, available in matt</p>
          <a href="" class="button">Order Us <img src="{% static 'img/arrow.png' %}" alt="arrow" style="width: 9px; height: 12px;"></a>
        </div>
      </div>
      <div class="exclusive-product-2 clearfix">
        <div class="exclusive-content-block">
          <p class="exclusive-trending">exclusive</p>
          <h2 class="exclusive-h2">Fishnet Chair</h2>
          <p class="exclusive-content">Seat and back with upholstery made of cold cure foam.
            Steel frame, available in matt</p>
          <a href="" class="button">Order Us <img src="{% static 'img/arrow.png' %}" alt="arrow" style="width: 9px; height: 12px;"></a>
        </div>
      </div>
    </div>
    <p class="trending-products padding-site">Trending Products</p>
    <a href="#" class="trending-products-explore-all">explore all <img src="{% static 'img/arrow.png' %}" alt="arrow" height="12px"></a>
    <div class="tranding-products-img clearfix padding-site">

{% for product in products.1 %}
      <div class="{{ product.class_list }}">
        <img src="{% static 'img/' %}{{ product.src }}" alt="product">
      </div>
{% endfor %}

    </div>
    <div class="bottom-slider clearfix">
      <div class="bottom-slider-content-div padding-site clearfix">
        <div class="slider-text">
          <p class="slider-trending" id="bottom-slider">Hot deal</p>
          <h2 class="slider-h2">Fishnet Chair</h2>
          <p class="slider-content">Seat and back with upholstery made of cold cure
            foam. Steel frame, available in matt powder-coated black</p>
          <a href="" class="button">Order Us <img src="{% static 'img/arrow.png' %}" alt="arrow" style="width: 9px; height: 12px;"></a>
        </div>
        <div class="pagination">
          <a href="" class="circle"></a><a href="" class="circle circle-aktive"></a><a href="" class="circle"></a>
        </div>
      </div>
    </div>
    <div class="exclusive-bottom padding-site clearfix">
      <div class="exclusive-bottom-product clearfix">
        <div class="exclusive-content-block">
          <p class="exclusive-trending">exclusive</p>
          <h2 class="exclusive-h2">Fishnet Chair</h2>
          <p class="exclusive-bottom-content">Seat and back with upholstery made of cold cure foam.
            Steel frame, available in matt</p>
          <a href="" class="button">Order Us <img src="{% static 'img/arrow.png' %}" alt="arrow" style="width: 9px; height: 12px;"></a>
        </div>
      </div>
      <div class="exclusive-bottom-product-mini clearfix">
        <img src="{% static 'img/product-2-sm.jpg' %}" alt="product2">
      </div>
      <div class="exclusive-bottom-product-mini clearfix">
        <img src="{% static 'img/product-3-sm.jpg' %}" alt="product3">
      </div>
      <div class="exclusive-bottom-product-mini trending-product-margin-top clearfix">
        <img src="{% static 'img/product-4-sm.jpg' %}" alt="product4">
      </div>
      <div class="exclusive-bottom-product-mini trending-product-margin-top clearfix">
        <img src="{% static 'img/product-5-sm.jpg' %}" alt="product5">
      </div>
    </div>
    <div class="mobile-app clearfix">
      <div class="mobile-app-content-div padding-site clearfix">
        <p class="slider-trending" id="mobile-app-tranding">mobile app</p>
        <h2 class="mobile-app-h2">Find. Follow. Favorite.</h2>
        <p class="mobile-app-content">Save your favorites and share your style.</p>
        <a href="#"><img class="app" src="{% static 'img/app-store.jpg' %}" alt="app-store"></a>
        <a href="#"><img class="app" id="google" src="{% static 'img/google-play.jpg' %}" alt="google-play"></a>
      </div>
    </div>

    {% endblock content %}
