<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Контакты</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="container">
    <header class="clearfix header padding-site">
      <a href="#"><img src="/static/img/logo.svg" alt="logo"></a>
      <ul class="menu clearfix">
        <li class="menu-list"><a href="/" class="menu-link">HOME</a></li>
        <li class="menu-list"><a href="/products/" class="menu-link">PRODUCTS</a></li>
        <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
        <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
        <li class="menu-list"><a href="#" class="menu-link  menu-link-aktive">CONTACT</a></li>
        <li class="menu-list"><a href="#"><img src="/static/img/search.svg" alt=""></a></li>
      </ul>
      <h1 class="header-title">Contact Us</h1>
    </header>
    <div class="content padding-site clearfix">
      <div class="contact">
        <div class="main-contact-content clearfix">
          <div class="location"><span class="icon-location"></span></div>
          <p class="contact-header">california</p>
          <div class="contact-content">
            <p class="phone">Phone:</p>
            <p class="phone-content">1900 - 1234 -5678</p><br>
            <p class="email">Email:</p>
            <p class="email-content">info@interior.com</p><br>
            <p class="address">Address:</p>
            <p class="address-content">12 W 1st St, 90001 Los Angeles, California</p>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="main-contact-content clearfix">
          <div class="location"><span class="icon-location"></span></div>
          <p class="contact-header">california</p>
          <div class="contact-content">
            <p class="phone">Phone:</p>
            <p class="phone-content">1900 - 1234 -5678</p><br>
            <p class="email">Email:</p>
            <p class="email-content">info@interior.com</p><br>
            <p class="address">Address:</p>
            <p class="address-content">12 W 1st St, 90001 Los Angeles, California</p>
          </div>
        </div>
      </div>
      <div class="contact-last">
        <div class="main-contact-content clearfix">
          <div class="location"><span class="icon-location"></span></div>
          <p class="contact-header">california</p>
          <div class="contact-content">
            <p class="phone">Phone:</p>
            <p class="phone-content">1900 - 1234 -5678</p><br>
            <p class="email">Email:</p>
            <p class="email-content">info@interior.com</p><br>
            <p class="address">Address:</p>
            <p class="address-content">12 W 1st St, 90001 Los Angeles, California</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="padding-site">
      <div class="top-footer-content clearfix">
        <div class="contact-us clearfix">
          <h4 class="footer-h4">Contact Us</h4>
          <p class="footer-contact-p">132A Bridge Road Richmond VIC
            Australia.</p>
          <p class="footer-contact-p">Talk to us on 1300 132
            info@interior.com</p>
        </div>
        <div class="useful-information clearfix">
          <h4 class="footer-information-h4">Useful Information</h4>
          <div class="footer-a-first">
            <a href="#" class="footer-a-block">Sales terms</a>
            <a href="#" class="footer-a-block">Customer care</a>
            <a href="#" class="footer-a-block">Delivery</a>
          </div>
          <div class="footer-a-second clearfix">
            <a href="#" class="footer-a-block">Architect accounts</a>
            <a href="#" class="footer-a-block">Careers</a>
            <a href="#" class="footer-a-block">Exchanges & returns</a>
          </div>
        </div>
        <div class="stay-in-touch clearfix">
          <h4 class="footer-stay-h4 clearfix">Let’s Stay in Touch!</h4>
          <p class="footer-stay-p clearfix">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
          <form class="clearfix">
            <div class="mail">
              <input type="email" name="q" placeholder="your email address">
              <input type="submit" value="">
            </div>
          </form>
        </div>
      </div>
      <div class="bottom-footer-content clearfix">
        <a href="#" class="text-bottom-footer clearfix" id="first-text-footer-content">© Copyright - INTERIOR 2016. All Rights Reserved.</a>
        <div class="social-icon-div"><a href="#" class="social-icon"><span class="icon-facebook-with-circle"></span></a>
          <a href="#" class="social-icon"><span class="icon-twitter-with-circle"></span></a>
          <a href="#" class="social-icon"><span class="icon-google-with-circle"></span></a>
          <a href="#" class="social-icon"><span class="icon-pinterest-with-circle"></span></a></div>
        <a href="#" class="text-bottom-footer clearfix" id="second-text-footer-content">Terms & Conditions / Privacy policy & Cookies</a>
      </div>
    </footer>
  </div>
</body>
